
@charset "utf-8";
/* CSS Document */

body {
	background-image:url("https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/background.png?v=1");
    background-color:#000;
	margin:0;
	padding:0;
	font-family:'Calibri', sanserif;
    -webkit-text-stroke: 0.2px;
	font-size:18px;
	font-weight: normal;
	line-height:22px;
	color:#c5c5c5;
	text-align:left;
}

p {
	margin:0;
	padding:0;
	font-family:Calibri,Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:22px;
	color:#d4d7dd;
	text-align:left;
}


a {
	text-decoration:none;
	color:#7bc4ee;
}

a:hover {
	color:#b4e4ff;
}


#freetoplaylink {
	display:block;
	position:absolute;
	top:0px;
	left:760px;
	width:200px;
	height:200px;
	background-image: url("https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/freetoplay.png");
	z-index: 10;
}
#freetoplaylink:hover {
	background-image: url("https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/freetoplay_hover.png");
}


video  {
	background-position: top center;
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
    position: relative;
 
	min-width: 1920px;
    box-sizing: content-box;
	text-align: center;
	object-fit: contain;
}

#container_01 .content {
	position: absolute;
    width: 1920px;
    height: 1000px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;
    display: block;
}


#bg_01 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_01.jpg?v=2);
	background-position:top center;
	background-repeat:no-repeat;
	overflow:hidden;
}

#container_01 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_01.jpg?v=2);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:984px;
	height:1000px;
}

#bg_02 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_02.jpg?v=2);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_02 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_02.jpg?v=2);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:984px;
	height:260px;
}

/*
#bg_02_pw {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_02_pw.jpg?v=2);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_02_pw {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_02_pw.jpg?v=2);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:984px;
	height:600px;
}
*/

#bg_03 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_03.jpg?v=3);
	background-position:top center;
	background-repeat:no-repeat;
	z-index:2;
}

#container_03 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_03.jpg?v=3);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:984px;
	height:1040px;
	z-index:2;
}


#bg_04 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_04.jpg?v=2);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_04 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_04.jpg?v=2);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:984px;
	height:705px;
}

/* collection */

#bg_05 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_05.jpg?v=2);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_05 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_05.jpg?v=2);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:984px;
	height:530px;
}


#bg_06 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_06.jpg?v=2);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_06 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_06.jpg?v=2);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:984px;
	height:325px;
}

/*  */

#bg_07{
	background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_07.jpg?v=2);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_07 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_07.jpg?v=2);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:984px;
	height:1040px;
}


#bg_08 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_08.jpg?v=2);
	background-position:top center;
	background-repeat:no-repeat;
}

#container_08 {
	background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_08.jpg?v=2);
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:984px;
	height:675px;
}

#bg_09 {
    background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_09.jpg?v=2);
    background-position:top center;
    background-repeat:no-repeat;
}

#container_09 {
    background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_09.jpg?v=2);
    background-position:top center;
    background-repeat:no-repeat;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:984px;
    height:720px;
}


#bg_10 {
    background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_10.jpg?v=2);
    background-position:top center;
    background-repeat:no-repeat;
}

#container_10 {
    background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_10.jpg?v=2);
    background-position:top center;
    background-repeat:no-repeat;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:984px;
    height:815px;
}


#bg_11 {
    background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_11.jpg?v=2);
    background-position:top center;
    background-repeat:no-repeat;
}

#container_11 {
    background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_11.jpg?v=2);
    background-position:top center;
    background-repeat:no-repeat;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:984px;
    height:600px;
}


#bg_12 {
    background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_12.jpg?v=3);
    background-position:top center;
    background-repeat:no-repeat;
}

#container_12 {
    background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_12.jpg?v=3);
    background-position:top center;
    background-repeat:no-repeat;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:984px;
    height: 844px;
}


#bg_13 {
    background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_13.jpg?v=3);
    background-position:top center;
    background-repeat:no-repeat;
}

#container_13 {
    background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_13.jpg?v=3);
    background-position:top center;
    background-repeat:no-repeat;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:984px;
	height:774px;
}

#bg_14 {
    background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_14.jpg?v=2);
    background-position:top center;
    background-repeat:no-repeat;
}

#container_14 {
    background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_14.jpg?v=2);
    background-position:top center;
    background-repeat:no-repeat;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:984px;
    height:993px;
}


#bg_faq {
    background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_faq.jpg?v=2);
    background-position:top center;
    background-repeat:repeat-y;
}

#container_faq {
    background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_faq.jpg?v=2);
    background-position:top center;
    background-repeat:repeat-y;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:984px;
    height:1058px;
}

#bg_bot {
    background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_bot.jpg?v=2);
    background-position:top center;
    background-repeat:no-repeat;
}

#container_bot{
    background-image:url(https://steamcdn-a.akamaihd.net/apps/csgo/images/dangerzone/bg_bot.jpg?v=2);
    background-position:top center;
    background-repeat:no-repeat;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:984px;
    height:799px;
}


#logoLink {
	display:block;
	position:absolute;
	top:10px;
	left:332px;
	width:384px;
	height:150px;
}


/*  */



#copy_tagline {
	text-shadow: 0px 0px 3px #00000033;
	font-family:'Noto Sans', sanserif;
	font-size: 15pt;
	color: #000;
	position:absolute;
	width:460px;
	left:265px;
	top:448px;
    text-align: center;
	font-weight: medium;
	line-height: 28px;
	z-index: 10;
}

#copy_subhead-a {
	position:absolute;
	width:260px;
	left:56px;
	top:738px;
}

#copy_sub-a {
	position:absolute;
	width:260px;
	left:56px;
	top:770px;
}

#copy_subhead-b {
	position:absolute;
	width:260px;
	left:400px;
	top:738px;
}

#copy_sub-b {
	position:absolute;
	width:260px;
	left:400px;
	top:770px;
}

#copy_subhead-c {
	position:absolute;
	width:260px;
	left:720px;
	top:738px;
}

#copy_sub-c {
	position: absolute;
	width: 260px;
	left: 720px;
	top: 770px;
}

.sub {
	text-shadow: 1px 1px 3px #000000;
	font-family:'Noto Sans', sanserif;
	font-size: 12pt;
	color: #e6e6e6;
    text-align: left;
	font-weight: 200;
	line-height: 22px;
	letter-spacing: 1px;
	z-index: 10;
}

.subhead {
	text-shadow: 1px 1px 2px #000000;
	font-family:'Noto Sans', sanserif;
	font-size: 16pt;
	color: #e6e6e6;
    text-align: left;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: .6px;
	z-index: 10;
}

.copy_page {
	font-family:'Noto Sans', sanserif;
	font-size: 14pt;
	color: #999999;
    text-align: center;
	font-weight: 400;
	line-height: 26px;
	//letter-spacing: .6px;
}


#copy_03_01 {
	position:absolute;
	width:460px;
	left:280px;
	top:752px;
	//text-shadow: 1px 1px 2px #000000;
	font-family:'Noto Sans', sanserif;
	font-size: 26pt;
	color: #000000;
    text-align: center;
	font-weight: 500;
	line-height: 22px;
	//letter-spacing: .6px;
}

#copy_03_02 {
	position: absolute;
	width: 380px;
	left: 320px;
	top: 790px;
	font-family:'Noto Sans', sanserif;
	font-size: 15pt;
	color: #000000;
    text-align: center;
	font-weight: 400;
	line-height: 26px;
	//letter-spacing: .6px;
}

#copy_04_01 {
	position: absolute;
	width: 420px;
	left: 320px;
	top: 80px;
	text-align: center;
}

#copy_05_01 {
	position: absolute;
	width: 300px;
	left: 96px;
	top: 110px;
	text-align: left;
}

#copy_05_02 {
	position: absolute;
	width: 300px;
	left: -384px;
	top: 200px;
	text-shadow: 1px 1px 3px #000000;
	font-family:'Noto Sans', sanserif;
	font-size: 13pt;
	color: #666666;
    text-align: left;
	font-weight: 200;
	line-height: 26px;
	letter-spacing: .5px;
}


#copy_06_01 {
	position:absolute;
	width:460px;
	left:240px;
	top:110px;
	//text-shadow: 1px 1px 2px #000000;
	font-family:'Noto Sans', sanserif;
	font-size: 26pt;
	color: #cccccc;
    text-align: center;
	font-weight: 400;
	line-height: 22px;
	//letter-spacing: .6px;
}

#copy_06_02 {
	position: absolute;
	width: 640px;
	left: 164px;
	top: 168px;
    text-align: center;
}

#copy_07_01 {
	position: absolute;
	width: 600px;
	left: 114px;
	top: 630px;
    text-align: center;
}

#copy_07_02 {
	position: absolute;
	width: 600px;
	left: 114px;
	top: 630px;
    text-align: center;
}

#copy_07_03 {
	position: absolute;
	width: 600px;
	left: 114px;
	top: 630px;
    text-align: center;
}

#copy_08_01 {
	position: absolute;
	width: 320px;
	left: 576px;
	top: 190px;
    text-align: left;
}

#copy_09_01 {
	position:absolute;
	width:460px;
	left:260px;
	top:98px;
	//text-shadow: 1px 1px 2px #000000;
	font-family:'Noto Sans', sanserif;
	font-size: 26pt;
	color: #cccccc;
    text-align: center;
	font-weight: 400;
	line-height: 22px;
	//letter-spacing: .6px;
}

#copy_09_02 {
	position: absolute;
	width: 544px;
	left: 260px;
	top: 616px;
    text-align: center;
}

#copy_10_01 {
	position: absolute;
	width: 320px;
	left: 576px;
	top: 166px;
    text-align: left;
}

#copy_10_02 {
	position: absolute;
	width: 344px;
	left: 100px;
	top: 580px;
    text-align: left;
}

#copy_11_01 {
	position: absolute;
	width: 320px;
	left: 576px;
	top: 200px;
    text-align: left;
}

#copy_11_02 {
	position: absolute;
	width: 275px;
	left: 576px;
	top: 328px;
	text-shadow: 1px 1px 3px #000000;
	text-align: left;
	
	font-family:'Noto Sans', sanserif;
	font-size: 13pt;
	color: #666666;
    text-align: left;
	font-weight: 200;
	line-height: 26px;
	//letter-spacing: .6px;
}

#copy_12_01 {
	position:absolute;
	width:600px;
	left:220px;
	top:98px;
	//text-shadow: 1px 1px 2px #000000;
	font-family:'Noto Sans', sanserif;
	font-size: 26pt;
	color: #cccccc;
    text-align: center;
	font-weight: 400;
	line-height: 22px;
	//letter-spacing: .6px;
}

#copy_12_02 {
	position: absolute;
	width: 280px;
	left: 100px;
	top: 385px;
    text-align: left;
}

#copy_12_03 {
	position: absolute;
	width: 280px;
	left: 100px;
	top: 500px;
    text-align: left;
}

#copy_13_01 {
	position:absolute;
	width:700px;
	left:140px;
	top:100px;
	//text-shadow: 1px 1px 2px #000000;
	font-family:'Noto Sans', sanserif;
	font-size: 26pt;
	color: #cccccc;
    text-align: center;
	font-weight: 400;
	line-height: 22px;
	//letter-spacing: .6px;
}

#copy_13_02 {
	position: absolute;
	width: 420px;
	left: 285px;
	top: 180px;
    text-align: center;
}

#copy_14_01 {
	position:absolute;
	width:700px;
	left:150px;
	top: 100px;
	//text-shadow: 1px 1px 2px #000000;
	font-family:'Noto Sans', sanserif;
	font-size: 26pt;
	color: #cccccc;
    text-align: center;
	font-weight: 400;
	line-height: 22px;
	//letter-spacing: .6px;
}

#copy_14_02 {
	position: absolute;
	width: 620px;
	left: 185px;
	top: 180px;
    text-align: center;
}


#copy_faq_01 {
	position:absolute;
	width:700px;
	left:040px;
	top:20px;
	//text-shadow: 1px 1px 2px #000000;
	font-family:'Noto Sans', sanserif;
	font-size: 26pt;
	color: #cccccc;
    text-align: left;
	font-weight: 400;
	line-height: 22px;
	//letter-spacing: .6px;


}








#faq_container {
    position: absolute;
    width: 600px;
	left: 180px;
	font-family:'Noto Sans', sanserif;
	font-size: 11pt;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: .6px;
}

.faq_question {
	color: #e43d27;
	font-size: 12pt;
	font-weight: 400;
}



#valveLinks {
	display:block;
	position:absolute;
	width:748px;
	height:100px;
	top:90px;
	left:116px;
}



.button:hover {
	background-position:bottom;
}



/****  tablet slider styles  ****/

#tablet_slider{
	margin-left: auto;
	margin-right: auto;
	top: 142px;
	left: 22px;
}

#tablet_slider_container{
    position: absolute;
    top: 0px;
    left: 60px;
}

#tablet_slider_next{
    background-image: url(https://steamcdn-a.akamaihd.net/apps/csgo/images/operationbreakout/map_next.png?v=2);
    position: absolute;
    left: 800px;
    top: 780px;
    height: 40px;
    width: 28px;
    z-index: 1003;
    opacity: .6;
}

#tablet_slider_next:hover
{
    opacity: 1.5;
}


#tablet_slider_prev{
    background-image: url(https://steamcdn-a.akamaihd.net/apps/csgo/images/operationbreakout/map_prev.png?v=2);
    position: absolute;
    left: 30px;
    top: 780px;
    height: 40px;
    width: 28px;
    z-index: 1003;
    opacity: .6;
}

#tablet_slider_prev:hover
{
    opacity: 1.5;
}



/****  mission slider  ****/

#mission_slider {
	margin-left: auto;
	margin-right: auto;
	top: 22px;
	left: 22px;
}

#mission_slider_container {
    position: absolute;
    top: 0px;
    left: 460px;
}

#mission_slider_next {
    background-image: url(https://steamcdn-a.akamaihd.net/apps/csgo/images/operationbreakout/map_next.png?v=2);
    position: absolute;
    left: -300px;
    top: 330px;
    height: 40px;
    width: 28px;
    z-index: 1003;
    opacity: .6;
}

#mission_slider_next:hover
{
    opacity: 1.5;
}


#mission_slider_prev {
    background-image: url(https://steamcdn-a.akamaihd.net/apps/csgo/images/operationbreakout/map_prev.png?v=2);
    position: absolute;
    left: -366px;
    top: 330px;
    height: 40px;
    width: 28px;
    z-index: 1003;
    opacity: .6;
}

#mission_slider_prev:hover
{
    opacity: 1.5;
}


/****  dzcase slider  ****/

#dzcase_slider {
	margin-left: auto;
	margin-right: auto;
	top: 22px;
	left: 22px;
}

#dzcase_slider_container {
    position: absolute;
    top: 250px;
    left: 0px;
}

#dzcase_slider_next {
    background-image: url(https://steamcdn-a.akamaihd.net/apps/csgo/images/operationbreakout/map_next.png?v=2);
    position: absolute;
    right: 0px;
    top: 592px;
    height: 40px;
    width: 28px;
    z-index: 1003;
    opacity: .6;
}

#dzcase_slider_next:hover
{
    opacity: 1.5;
}


#dzcase_slider_prev {
    background-image: url(https://steamcdn-a.akamaihd.net/apps/csgo/images/operationbreakout/map_prev.png?v=2);
    position: absolute;
    left: 40px;
    top: 592px;
    height: 40px;
    width: 28px;
    z-index: 1003;
    opacity: .6;
}

#dzcase_slider_prev:hover
{
    opacity: 1.5;
}

.controls:hover
{
	cursor: pointer;
}